<html>
    <head>
        <title>Django Practice</title>
    </head>
    <body>
        <div>
            <h1>Django practice</h1>
        </div>

        {% for post in posts %}
          <div>
              <p>published: {{post.published_date}}</p>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}

        <div>
          <br />
          <br />
          <br />

            <h2><a href="https://tommy.emawind.com">My real homepage</a></h2>

        </div>
    </body>
</html>
